/*
primario: #BCA3E6
secundario:#E69D97
terciario:#CF9AE6
cuarto:#E6A1E2
*/
body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:gray;
    color: white;
    
}
.formularios{
    font-size: 22px;
}
.listas{
    background-color: #BCA3E6;
    width: 130px;
    border-radius: 15px;
}
h1 {
    font-size: 60px;
}
.formularios2 {
background-color:#E69D97 ;
width: 500px;
border-radius: 15px;
text-align: left;
height: 335px;
}
.boton1{
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
}
.regis{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 26px;
    text-decoration: underline;
}
.formularios3{
    text-align: right;
}